.slider-with-input-control .input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.range-input-wrapper {
    margin: 1rem 0;
}

.range-input-wrapper .range-input {
    width: 100%;
}

.slider-with-input-control {
    margin-top: 2.5rem;
}

.custom-slider {
    .rc-slider-track {
        background-color: var(--color-primary);
    }

    .rc-slider-handle {
        width: 20px;
        height: 20px;
        margin-top: -8px;
        border: none;
        opacity: 1;
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .2);

        &:focus {
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
        }
    }

    .rc-slider-handle-dragging {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3) !important;
    }


    .rc-slider-handle:focus-visible {
        box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
    }

    @media screen and (max-width: 700px) {
        .rc-slider-handle {
            width: 18px;
            height: 18px;
            margin-top: -7px;
        }
    }
}

.line-input-container {
    position: relative;
    width: 100px;

    .line-input {
        width: 100%;
        padding: 5px 5px 4px 5px;
        border: none;
        border-bottom: 1px solid var(--line-input-border-color);
        outline: none;
        background-color: transparent;
        transition: border-color 0.3s;
        text-align: right;
        font-weight: var(--fnt-wght-medium);
        font-size: var(--line-input-fnt-sz);

        &:has(~.line-input-notation.left) {
            padding-left: 22px;
        }

        &:has(~.line-input-notation.right) {
            padding-right: 22px;
        }

        &:focus {
            border-color: var(--color-primary);
        }

        &:invalid {
            border-color: var(--line-input-invalid-color);

            ~.line-input-notation {
                color: var(--line-input-invalid-color);
            }
        }

        /* for removing arrows */
        /* Chrome, Safari, Edge, Opera */
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        /* Firefox */
        &[type=number] {
            -moz-appearance: textfield;
        }

    }

    .line-input-underline {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background-color: var(--color-primary);
        transform: scaleX(0);
        transition: transform 0.3s;
    }

    .line-input:focus+.line-input-underline {
        transform: scaleX(1);
    }

    .line-input-notation {
        position: absolute;
        top: 0;
        color: var(--line-input-notation-color);
        transition: color 0.3s;
        height: 100%;
        display: flex;
        align-items: center;

        &.left {
            left: 5px;
        }

        &.right {
            right: 5px;
        }
    }

    .line-input:focus~.line-input-notation {
        color: var(--color-primary);
    }

}