/* css debugger */
/* * {
  outline: 1px solid green;
} */
.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.cal-toast{
  [data-title] {
    font-size: 14px;
  }
  
  &[data-type=success] {
    [data-icon]{
      width: 24px;
    }
  }

  &[data-type=info] {
    [data-icon]{
      width: 24px;
    }
  }

  &.delete{
    button[data-button] {
      font-size: 14px;
      background-color: var(--preset-item-trash-hover-color);
    }
  }
}

@media screen and (max-width: 700px) {
  .main-wrapper {
    display: block;
  }
}