/* css debugger */
/* * {
  outline: 1px solid green;
} */
.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.calculator-wrapper {
  max-width: 1000px;
  width: 100%;
  border: 1px solid gainsboro;
  padding: 2rem;
}

.calculator {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

@media screen and (max-width: 700px) {
  .main-wrapper {
    display: block;
  }

  .calculator-wrapper {
    padding: 1.5rem;
  }

  .calculator {
    flex-direction: column;
  }
}


.controls {
  flex-basis: 50%;
}

.divider {
  padding: .5px;
  background-color: var(--color-grey-light);
}

.returns-view {
  flex-basis: 50%;
}

.slider-with-input-control .input {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.range-input-wrapper {
  margin: 1rem 0;
}

.range-input-wrapper .range-input {
  width: 100%;
}

.slider-with-input-control {
  margin-top: 2rem;
}

.returns-text-view {
  .total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1.2rem 0;

    .label {
      font-size: var(--fnt-sz-xl);
      font-weight: var(--fnt-wght-semibold);
    }

    .value {
      font-size: var(--fnt-sz-xl);
      font-weight: var(--fnt-wght-semibold);
      color: var(--color-primary);
    }
  }

  .item {
    display: flex;
    justify-content: space-between;
    margin-top: .7rem;

    .label-wrapper {
      display: flex;
      align-items: center;
      gap: .5rem;

      .label-indicator {
        width: 1rem;
        height: 1rem;
        border-radius: .1rem;

        &.returns {
          background-color: var(--color-primary);
        }

        &.invested {
          background-color: var(--color-primary-light);
        }
      }
    }

    .value {
      font-size: var(--fnt-sz-base);
      font-weight: var(--fnt-wght-semibold);
    }
  }
}

.custom-slider {
  .rc-slider-track {
    background-color: var(--color-primary);
  }

  .rc-slider-handle {
    width: 20px;
    height: 20px;
    margin-top: -8px;
    border-color: var(--color-primary);
    opacity: 1;

    &:hover {
      border-color: var(--color-primary);
    }
  }

  .rc-slider-handle-dragging {
    border-color: var(--color-primary) !important;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3) !important;
  }

  .rc-slider-handle:focus-visible {
    border-color: var(--color-primary);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, .3);
  }

  @media screen and (max-width: 700px) {
    .rc-slider-handle {
      width: 25px;
      height: 25px;
      margin-top: -11px;
    }

    /* .rc-slider-handle-dragging {
      box-shadow: 0 0 10px 0 rgba(0,0,0,.4) !important;
    } */
  }
}

.increment-decrement-input {
  max-width: 120px;
  display: flex;
  border: 1px solid gainsboro;
  border-radius: .2rem;

  .btn {
    background: transparent;
    border: none;
    width: 30px;
    /* margin: 0 2px; */
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: whitesmoke;
      cursor: pointer;
    }
  }

  input {
    width: 100%;
    font-size: var(--fnt-sz-base);
    padding: .2rem;
    text-align: center;
    border: none;
  }

  /* for removing arrows */

  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }
}

.btn-group {
  display: flex;
  border: 1px solid var(--color-grey-light);
  border-radius: .2rem;
  padding: .2rem;
  gap: .2rem;

  .btn {
    flex: 1;
    padding: .3rem;
    border: none;
    border-radius: .2rem;
    background: transparent;
    cursor: pointer;

    &.active {
      background: #2E2E2E !important;
      color: whitesmoke;
      font-weight: var(--fnt-wght-semibold);
    }

    &:hover {
      background: #F4F2F2;
    }
  }
}

.actions {
  padding: 2rem;
  margin-bottom: 2rem;
  border-bottom: 1px dashed #D1D1D1;
}

.heading {
  font-weight: var(--fnt-wght-semibold);

  .highlight {
    color: var(--color-primary);
    /* font-weight: 900; */
  }
}