@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;

  --body-bg-color: #f9f9f9;
  --body-text-color: black;
  --color-primary: #277C64;
  --color-primary-light: #BDEADD;
  --color-grey-light: #eee;
  --color-grey-medium-dark:#424242;
  --radio-btn-group-bg-color: #FAFAFA;

  /* component color */
  --calc-wrapper-bg-color:white;

  --fnt-sz-sm: .8rem;
  --fnt-sz-base: 1rem;
  --fnt-sz-lg: 1.125rem;
  --fnt-sz-xl: 1.25rem;

  --fnt-wght-medium: 500;
  --fnt-wght-semibold: 600;
}

@media screen and (max-width: 700px) {
  :root {
    --fnt-sz-base: .95rem;
    --fnt-sz-lg: 1rem;
    --fnt-sz-xl: 1.125rem;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  height: 100%;
  background: var(--body-bg-color);
  color: var(--body-text-color);
  font-size: var(--fnt-sz-base);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root {
  isolation: isolate;
  height: 100%;
}

.material-symbols-outlined {
  font-size: 20px;
}